<!--The content below is only a placeholder and can be replaced.-->
<!--
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>
<h2>Here are some links to help you start: </h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
</ul>
-->

<div id="container">
  <div id="left">
    <img src="../assets/pigeon.jpg/"/>
    <ul>
      <li><i class="iconfont">&#xe9f3;</i>首页</li>
      <li><i class="iconfont">&#xe669;</i>系统管理</li>
      <li><i class="iconfont">&#xe60d;</i>帖子管理</li>
      <li><i class="iconfont">&#xe720;</i>用户管理</li>
      <li><i class="iconfont">&#xe603;</i>文件管理</li>
      <li>
        <i class="iconfont">&#xe61a;</i>
        <a class="btn btn-primary" data-toggle="collapse" href="#right" >
            关键字管理
        </a>
      </li>
      <li><i class="iconfont">&#xe721;</i>学校信息管理</li>
    </ul>
  </div>
  <div id="right" class="collapse">
    <div id="top">
      <i class="iconfont">&#xe69b;</i>
      <input type="search" name="search" placeholder="输入你要查找的关键字"/>
    </div>
    <div class="btn-group">
        <button type="button" class="btn btn-default" >
          序号
        </button>
        <button type="button" class="btn btn-default" >
          关键字
        </button>
        <button type="button" class="btn btn-default" >
          搜索次数 
        </button>  
        <button type="button" class="btn btn-default" >
          操作 
        </button>
    </div>
    <div>
      <table class="table table-hover table-condensed">
          <tr>
             <td>1</td>
             <td>数学</td>
             <td>1008</td>
             <td>
               <input type="button" name="butt" value="编辑"/>
               <input type="button" name="butt" value="删除"/>
             </td>
          </tr>
          <tr>
             <td>2</td>
             <td>语文</td>
             <td>1000</td>
             <td>
               <input type="button" name="butt" value="编辑"/>
               <input type="button" name="butt" value="删除"/>
             </td>
          </tr>
          <tr>
             <td>3</td>
             <td>英语</td>
             <td>900</td>
             <td>
               <input type="button" name="butt" value="编辑"/>
               <input type="button" name="butt" value="删除"/>
             </td>
          </tr>
          <tr>
             <td>4</td>
             <td>物理</td>
             <td>1100</td>
             <td>
               <input type="button" name="butt" value="编辑"/>
               <input type="button" name="butt" value="删除"/>
             </td>
          </tr>
          <tr>
             <td>5</td>
             <td>历史</td>
             <td>1080</td>
             <td>
               <input type="button" name="butt" value="编辑"/>
               <input type="button" name="butt" value="删除"/>
             </td>
          </tr>
      </table>
    </div>

  </div>
  
</div>
