<div class="container">   
    <img src="http://usercontent.edu2act.cn/media/userheader/18-04-11/aZ8U4eKLSuDYvHkpERVFY9.jpg?imageView2/1/w/120/h/120"  width="150px" height="150px" alt=""/>
    <p>4—康润芳</p>
    <span class="star">
      <h5>4</h5>
      <h5>粉丝</h5>
    </span>
    <span class="star">
        <h5>7</h5>
        <h5>关注</h5>
    </span>
    <div id="list1">
      <ul>
        <li>任务</li>
        <li>同步课</li>
        <li>课程</li>
        <li>且说</li>
        <li>通知</li>
      </ul>
    </div>
</div>
<div class="list">
    <ul>
      <li><a href="#">未提交</a></li>
      <li><a href="#">已完成</a></li>
      <li><a href="#">已完结</a></li>
      <i class="iconfont">&#xe625;</i>
      <i class="iconfont">&#xe626;</i>
    </ul>
    <textarea>
      您的同步任务已经全部完成！
    </textarea>
</div>