<!--
<div class="container">
    <ul>
      <li *ngFor="let course of courses;">
        <a [routerLink]="['/tongbu',course.id]">
          <img src="{{course.images}}" alt=""/>
          <h3>{{course.courseName}}</h3>
          <div>
            <span>{{course.task}}</span>
            <span>{{course.person}}</span>
            <button>申请</button>
          </div>
      </a>
      </li>
    </ul>
  
  </div>
-->
<div class="container">   
    <img src="http://usercontent.edu2act.cn/media/userheader/18-04-11/aZ8U4eKLSuDYvHkpERVFY9.jpg?imageView2/1/w/120/h/120"  width="150px" height="150px" alt=""/>
    <p>4—康润芳</p>
    <span class="star">
      <h5>4</h5>
      <h5>粉丝</h5>
    </span>
    <span class="star">
        <h5>7</h5>
        <h5>关注</h5>
    </span>
</div>
<div class="list">
    <ul>
      <li><a href="#">未提交</a></li>
      <li><a href="#">已完成</a></li>
      <li><a href="#">已完结</a></li>
    </ul>
    <textarea>
      您的同步任务已经全部完成！
    </textarea>
  </div>